
* {
	font-family: "Kristen ITC";
	font-size: 20px;
}

#external {
	color: #e3934d;
}

}
section img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

h1 {
	font-size: 200%;
}

h2 {
	text-transform: uppercase;
}
.languages {
	background-color: #56d168;
}

ol[type="1"] > li{
	border-width: 2px;
	border-style: solid;
	border-color: blue;
}
section ~ p {
	text-align: center;
}
ul {
	font-family: "code" !important;
}
